body { font-family: 'Crimson Pro', serif; }
h1, h3, nav, #reading-date { font-family: 'Work Sans', sans-serif; }
blockquote { quotes: "“" "”" "‘" "’"; }
#quote::before { content: open-quote; }
#quote::after { content: close-quote; }
#source::before { content: "— "; }
